* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 15px 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00c3ff;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, rgb(6, 122, 122), pink);
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background: black;
}

/* Cards Section */
.cards {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
}

.card {
  background: #f4f4f4;
  padding: 30px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  color: white;
  background: #333;

}
/*Mobile */
@media (max-width: 480px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 14px;
  }
}